.item {
    display: flex;
    flex-direction: column;
    width: 400px;
    overflow: hidden;
    margin-right: 20px;
    min-width: 0;
}

.item__details {
    display: flex;
    margin-top: 25px;
    /* flex-direction: column; */
    /* white-space: normal; */
    
    min-width: 0;
}

.item__details>h4 {
    /* display: flex; */
    /* white-space: nowrap; */
    /* min-width: 0; */
    white-space: nowrap;
    /* flex-basis: 100%; */
    /* width: 100%; */
}
.item__details>p {
    /* display: flex; */
    /* white-space: normal; */
    /* flex-basis: 100%; */
    /* flex-direction: row; */
    /* margin-top: 2px; */

}

.item__details>img {
    object-fit: contain;
    height: 60px;
    margin-right: 10px;
}

